<% if(resultado != ''){ %>
	<div class="search"><h3>Resultados para la búsqueda: </h3><span><%= resultado %><span></div>
<% } %>
<div class="questions">
	<% 	var i; for(i=0;i<quizes.length; i++){ %>
		<a class="card" href="/quizes/<%=quizes[i].id %>"> 
			<span><%= quizes[i].pregunta %></span>
			<a href="/quizes/<%=quizes[i].id %>/edit" class="mdRoundedButton small cardActions">E</a>
			<form class="reset" action="/quizes/<%=quizes[i].id %>?_method=delete" method="post">
				<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');" class="mdRoundedButton small cardActions">X</button>
			</form>
		</a>
	<% } %>
</div>
<a href="/quizes/new" class="mdRoundedButton addQuestion">+</a>