<% if(resultado != ''){ %>
	<div class="search"><h3>Resultados para la búsqueda: </h3><span><%= resultado %><span></div>
<% } %>
<div class="questions">
	<% 	var i; for(i=0;i<quizes.length; i++){ %>
	<div class="card" onClick="document.location.href = '/quizes/<%=quizes[i].id %>'">
			<span><%= quizes[i].pregunta %></span>
			<div class="actions">
				<a href="/quizes/<%=quizes[i].id %>/edit" class="mdRoundedButton small cardActions"><i class="flaticon-edit45"></i></a>
				<form class="reset" action="/quizes/<%=quizes[i].id %>?_method=delete" method="post">
					<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');" class="mdRoundedButton small cardActions"><i class="flaticon-rubbish7"></i></button>
				</form>
			</div>
			<p class="hashtag">#<%= quizes[i].tema %></p>
		</a>
	</div>
		
	<% } %>
</div>
<a href="/quizes/new" class="mdRoundedButton addQuestion">+</a>