<form action="/quizes/<%= quiz.id %>/answer" class="main" method="get">
	<div class="card big">
		<h1>Pregunta:</h1> 
		<p><%= quiz.pregunta %></p>
		<div class="inputs">
			<input type="text" name="respuesta" placeholder="Responda aquí" class="mdText dark"/>
			<input type="submit" value="Enviar" class="mdFlatButton"/>
		</div>
		<div>
			<a href="/quizes" class="mdFlatButton">Cancelar</a>	
		</div>
		<p class="hashtag">#<%= quiz.tema %></p>
		
	</div>
	<div class="card big comments">
			<a href="/quizes/<%= quiz.id %>/comments/new" class="mdRoundedButton addComment">+</a>
			<h1>Comentarios:</h1>
			<% for(index in quiz.Comments){ %>
				<% if(quiz.Comments[index].publicado || session.user){ %>
					<p>
						<span>- <%= quiz.Comments[index].texto %></span>
						<% if(!quiz.Comments[index].publicado && session.user){ %>
							<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish"> <i class="flaticon-speaker122"></i></a>
						<% } %>	
					</p>
				<% } %>
			<% } %>
		</div>
</form>
